<!-- header area -->
    <header class="header">
        <!-- header top -->
        <div class="header-top">
            <div class="container">
                <div class="header-top-wrap">
                    <div class="header-top-left">
                        <div class="header-top-social">
                            <span>Follow Us: </span>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                    <div class="header-top-right">
                        <div class="header-top-contact">
                            <ul>
                                <li>
                                    <a href="#"><i class="far fa-location-dot"></i> 25/B Milford Road, New York</a>
                                </li>
                                <li>
                                    <a href="https://live.themewild.com/cdn-cgi/l/email-protection#2841464e47684d50494558444d064b4745"><i class="far fa-envelopes"></i> <span class="__cf_email__" data-cfemail="442d2a222b04213c25293428216a272b29">[email&#160;protected]</span></a>
                                </li>
                                <li>
                                    <a href="tel:+21236547898"><i class="far fa-phone-volume"></i> +2 123 654 7898</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-navigation">
            <nav class="navbar navbar-expand-lg">
                <div class="container position-relative">
                    <a class="navbar-brand" routerLink="/">
                        <img src="/assets/FrontOffice/img/logo/logo.png" alt="logo">
                    </a>
                    <div class="mobile-menu-right">
                        <div class="search-btn">
                            <button type="button" class="nav-right-link search-box-outer"><i
                                    class="far fa-search"></i></button>
                        </div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-mobile-icon"><i class="far fa-bars"></i></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="main_nav">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" routerLink="/" data-bs-toggle="dropdown">Home</a>
                                <ul class="dropdown-menu fade-down">
                                    <li><a class="dropdown-item" routerLink="/">Home Page 01</a></li>
                                    <li><a class="dropdown-item" href="index-3.html">Home Page 02</a></li>
                                    <li><a class="dropdown-item" href="index-4.html">Home Page 03</a></li>
                                </ul>
                            </li>
                            
                           
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Courses</a>
                                <ul class="dropdown-menu fade-down">
                                    <li><a class="dropdown-item" href="course.html">Courses One</a></li>
                                    <li><a class="dropdown-item" href="course-2.html">Courses Two</a></li>
                                    <li><a class="dropdown-item" href="course-single.html">Course Single One</a></li>
                                    <li><a class="dropdown-item" href="course-single-2.html">Course Single Two</a></li>
                                </ul>
                            </li>
                            <li class="nav-item mega-menu dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Academics</a>
                                <div class="dropdown-menu fade-down">
                                    <div class="mega-content">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12 col-sm-4 col-md-3">
                                                    <h5>About Us</h5>
                                                    <div class="menu-about">
                                                        <a href="#" class="menu-about-logo"><img
                                                            src="/assets/FrontOffice/img/logo/logo-light.png" alt=""></a>
                                                        <p>We are many variations of passages available but the majority
                                                            have suffered alteration in some form by injected humour
                                                            words injected humour believable.</p>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4 col-md-3">
                                                    <h5>Undergraduate</h5>
                                                    <ul class="mega-menu-item">
                                                        <li><a class="dropdown-item" href="academic-single.html">Art And
                                                                Design</a></li>
                                                        <li><a class="dropdown-item" href="academic-single.html">Acting
                                                                And Drama</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="academic-single.html">Accounting And Finance</a>
                                                        </li>
                                                        <li><a class="dropdown-item" href="academic-single.html">Biology
                                                                And Conservation</a></li>
                                                        <li><a class="dropdown-item" href="academic-single.html">Science
                                                                And Engineering</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-sm-4 col-md-3">
                                                    <h5>Graduate Program</h5>
                                                    <ul class="mega-menu-item">
                                                        <li><a class="dropdown-item"
                                                                href="academic-single.html">Software Systems</a></li>
                                                        <li><a class="dropdown-item" href="academic-single.html">Human
                                                                Resource</a></li>
                                                        <li><a class="dropdown-item" href="academic-single.html">Health
                                                                Administration</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="academic-single.html">Biochemistry</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="academic-single.html">Computer Science</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-3">
                                                    <h5>Resources</h5>
                                                    <ul class="mega-menu-item">
                                                        <li><a class="dropdown-item" href="academic.html">Academics
                                                                Department</a></li>
                                                        <li><a class="dropdown-item"
                                                                href="academic-single.html">Academic Department
                                                                Single</a></li>
                                                        <li><a class="dropdown-item" href="faculty.html">Our Faculty</a>
                                                        </li>
                                                        <li><a class="dropdown-item" href="faculty-single.html">Faculty
                                                                Single</a></li>
                                                        <li><a class="dropdown-item" href="contact.html">Contact With
                                                                Us</a></li>
                                                    </ul>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Pages</a>
                                <ul class="dropdown-menu fade-down">
                                    <li><a class="dropdown-item" href="about.html">About Us</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Events</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="event.html">Events</a></li>
                                            <li><a class="dropdown-item" href="event-single.html">Event Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Portfolio</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="portfolio.html">Portfolio</a></li>
                                            <li><a class="dropdown-item" href="portfolio-single.html">Portfolio
                                                    Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Teachers</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="teacher.html">Teachers One</a></li>
                                            <li><a class="dropdown-item" href="teacher-2.html">Teachers Two</a></li>
                                            <li><a class="dropdown-item" href="teacher-single.html">Teachers Single</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="gallery.html">Gallery</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Authentication</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" routerLink="/login">Login</a></li>
                                            <li><a class="dropdown-item" routerLink="/register">Register</a></li>
                                            <li><a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="pricing.html">Pricing Plan</a></li>
                                    <li><a class="dropdown-item" href="faq.html">Faq</a></li>
                                    <li><a class="dropdown-item" href="testimonial.html">Testimonials</a></li>
                                    <li><a class="dropdown-item" href="404.html">404 Error</a></li>
                                    <li><a class="dropdown-item" href="coming-soon.html">Coming Soon</a></li>
                                    <li><a class="dropdown-item" href="terms.html">Terms Of Service</a></li>
                                    <li><a class="dropdown-item" href="privacy.html">Privacy Policy</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Admissions</a>
                                <ul class="dropdown-menu fade-down">
                                    <li><a class="dropdown-item" href="how-to-apply.html">How To Apply</a></li>
                                    <li><a class="dropdown-item" href="application-form.html">Application Form</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Our Campus</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="campus-tour.html">Campus Tour</a></li>
                                            <li><a class="dropdown-item" href="campus-life.html">Campus Life</a></li>
                                            <li><a class="dropdown-item" href="notice-board.html">Notice Board</a></li>
                                            <li><a class="dropdown-item" href="student-activities.html">Student
                                                    Activities</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Our Facilities</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="facility.html">Facilities</a></li>
                                            <li><a class="dropdown-item" href="facility-single.html">Facility Single</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Our Research</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="research.html">Research</a></li>
                                            <li><a class="dropdown-item" href="research-single.html">Research Single</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Our Clubs</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="club.html">Our Clubs</a></li>
                                            <li><a class="dropdown-item" href="club-single.html">Club Single</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="tuition-fee.html">Tuition Fees</a></li>
                                    <li><a class="dropdown-item" href="alumni.html">Alumni</a></li>
                                    <li><a class="dropdown-item" href="scholarship.html">Scholarships</a></li>
                                    <li><a class="dropdown-item" href="our-fund.html">Our Fund</a></li>
                                    <li><a class="dropdown-item" href="athletics.html">Athletics</a></li>
                                    <li><a class="dropdown-item" href="health-care.html">Health Care</a></li>
                                </ul>
                            </li>
                           
                            <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>

                             <!-- Restaurants Navigation Link -->
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/restaurants">
                                    <i class="far fa-utensils"></i> Restaurants
                                </a>
                            </li>
                        </ul>
                        <div class="nav-right">
                            <div class="search-btn">
                                <button type="button" class="nav-right-link search-box-outer"><i
                                        class="far fa-search"></i></button>
                            </div>
                            
                            <!-- 🔔 NOTIFICATION CENTER (Only visible when logged in) -->
                            <div *ngIf="isLoggedIn" style="display: inline-block; margin-right: 10px;">
                                <app-notification-center></app-notification-center>
                            </div>
                            
                            <!-- Authentication Section -->
                            <div class="nav-right-btn mt-2" *ngIf="!isLoggedIn">
                                <button (click)="navigateToLogin()" class="theme-btn">
                                    <span class="fal fa-sign-in-alt"></span>Login
                                </button>
                                <button (click)="navigateToRegister()" class="theme-btn btn-outline">
                                    <span class="fal fa-user-plus"></span>Register
                                </button>
                            </div>

                            <div class="nav-right-auth mt-2" *ngIf="isLoggedIn">
                                <div class="user-info">
                                    <span class="user-name">Welcome, {{ currentUser?.firstName || currentUser?.username || 'User' }}</span>
                                    <!-- Go to Chat button for assistants -->
                                    <button *ngIf="currentUser?.role === 'ASSISTANT'" routerLink="/assistante-chat" class="theme-btn" style="margin-right: 8px;">
                                        <span class="fal fa-comments"></span> Go to Chat
                                    </button>
                                    <button (click)="logout()" class="theme-btn btn-outline">
                                        <span class="fal fa-sign-out-alt"></span>Logout
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- header area end -->