<app-header-front></app-header-front>

    <!-- popup search -->
    <div class="search-popup">
        <button class="close-search"><span class="far fa-times"></span></button>
        <form action="#">
            <div class="form-group">
                <input type="search" name="search-field" placeholder="Search Here..." required>
                <button type="submit"><i class="far fa-search"></i></button>
            </div>
        </form>
    </div>
    <!-- popup search end -->
     <app-body-front></app-body-front>

     
     
    <router-outlet></router-outlet>
    <app-footer-front></app-footer-front>